body {
  background: #333232;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color: white;
}

.main {
  margin-left: 300px;
}

.album-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; 
}

.album {
  border: 1px solid #ccc;
  padding: 10px;
  width: 300px;
  text-align: center;
}

.album img {
  width: 100%; 
  margin-bottom: 5px;
}

